In [1]:
import ast
import pandas as pd
import numpy as np
import time
import requests
import pickle
from lxml import html
import unicodecsv as csv
import argparse
from __future__ import print_function, division
import ast
from bs4 import BeautifulSoup
from lxml import html
import requests
import unicodecsv as csv
import argparse
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
#import ml_insights as mli

# To Plot matplotlib figures inline on the notebook
%matplotlib inline

from sklearn.model_selection import train_test_split
#from sklearn.cross_validation import train_test_split

from sklearn.linear_model import LinearRegression, Lasso, LassoCV

pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [2]:
def get_soup(p):
    url = "https://www.zillow.com/denver-co/schools/#/denver-co/schools/bb=-105.139161%2C39.587434%2C-104.571305%2C39.941067&regionId=&zoom=10&p={}".format(p)
    headers= {
                        'accept':'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8',
                        'accept-encoding':'gzip, deflate, sdch, br',
                        'accept-language':'en-GB,en;q=0.8,en-US;q=0.6,ml;q=0.4',
                        'cache-control':'max-age=0',
                        'upgrade-insecure-requests':'1',
                        'user-agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36'
            }
    response = requests.get(url,headers=headers)
    page = response.text
    return BeautifulSoup(page, "lxml")

soup = get_soup(1)

In [3]:
District=[]
Rank=[]
for element in soup.find_all(attrs={'class':'districts-near-list-item'}):
    District.append(element.find_next().find_next().text)
    Rank.append(element.find_next().text)

In [4]:
district_rank={
    'District': District,
    'Rank': Rank
}
district_rank=pd.DataFrame(district_rank)

In [5]:
district_rank['Rank']=district_rank['Rank'].replace(r'[^0-9]+', "", regex=True)

In [6]:
district_rank

                                            District Rank
0                    Denver County 1 School District    5
1                    Adams County 14 School District    3
2                           Denver 1 School District    9
3           Charter School Institute School District    6
4  Mapleton Public Schools  Adams County School D...    4
5                 Adams-Arapahoe 28j School District    4
6                        Englewood 1 School District    3
7                     Westminster 50 School District    4
8                     Cherry Creek 5 School District    7
9                         Sheridan 2 School District    6

In [7]:
import pickle
with open('dist_rank.pkl', 'wb') as picklefile:
    pickle.dump(district_rank, picklefile)